.header {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url("../images/rel1.jpg");
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../../images/rel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	min-height: 85vh;
  }
  